<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juzheng.smart.tourism.mapper.CityBuyMapper" >
  <resultMap id="BaseResultMap" type="com.juzheng.smart.tourism.entity.CityBuy" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="buy_id" property="buyId" jdbcType="VARCHAR" />
    <result column="buy_name" property="buyName" jdbcType="VARCHAR" />
    <result column="buy_address" property="buyAddress" jdbcType="VARCHAR" />
    <result column="buy_keywords" property="buyKeywords" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="VARCHAR" />
  </resultMap>

</mapper>