<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juzheng.smart.tourism.mapper.CityWeatherMapper" >
  <resultMap id="BaseResultMap" type="com.juzheng.smart.tourism.entity.CityWeather" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="weather_id" property="weatherId" jdbcType="INTEGER" />
    <result column="max_tem" property="maxTem" jdbcType="VARCHAR" />
    <result column="min_tem" property="minTem" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, weather_id, max_tem, min_tem, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.juzheng.smart.tourism.entity.CityWeatherExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from city_weather
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.juzheng.smart.tourism.entity.CityWeatherExample" >
    delete from city_weather
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert1" parameterType="com.juzheng.smart.tourism.entity.CityWeather" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into city_weather (weather_id, max_tem, min_tem, 
      status)
    values (#{weatherId,jdbcType=INTEGER}, #{maxTem,jdbcType=VARCHAR}, #{minTem,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.juzheng.smart.tourism.entity.CityWeather" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into city_weather
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="weatherId != null" >
        weather_id,
      </if>
      <if test="maxTem != null" >
        max_tem,
      </if>
      <if test="minTem != null" >
        min_tem,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="weatherId != null" >
        #{weatherId,jdbcType=INTEGER},
      </if>
      <if test="maxTem != null" >
        #{maxTem,jdbcType=VARCHAR},
      </if>
      <if test="minTem != null" >
        #{minTem,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.juzheng.smart.tourism.entity.CityWeatherExample" resultType="java.lang.Integer" >
    select count(*) from city_weather
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update city_weather
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.weatherId != null" >
        weather_id = #{record.weatherId,jdbcType=INTEGER},
      </if>
      <if test="record.maxTem != null" >
        max_tem = #{record.maxTem,jdbcType=VARCHAR},
      </if>
      <if test="record.minTem != null" >
        min_tem = #{record.minTem,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update city_weather
    set id = #{record.id,jdbcType=INTEGER},
      weather_id = #{record.weatherId,jdbcType=INTEGER},
      max_tem = #{record.maxTem,jdbcType=VARCHAR},
      min_tem = #{record.minTem,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>